@import '../../../colors';

div.military-fortress_wrapper {
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    div.military-fortress_slides {
        height: 100%;
        display: flex;
        //width: calc(100vw * 3);
        transform: translateX(-000vw);
        transition: transform 1s ease-in-out;

        div.military-fortress_slide {
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: cover;
            position: relative;

            div.military-fortress_slide_content{
                position: absolute;
                bottom: 100px;
                left: 50px;
                width: 750px;

                h1 {
                    color: white;
                    margin-bottom: 10px;
                    font-size: 3em;
                }

                p {
                    color: white;
                   /* column-count: 2; */
                    text-align: justify;
                    font-weight: 500;
                }
            }
        }
    }

    div.military-fortress_slideshow_buttons{
        position: absolute;
        bottom: 50px;
        right: 50px;

        div.military-fortress_slideshow_button{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 100px;
            height: 40px;
            width: 40px;
            margin-left: 10px;
        }
    }

    div.military-fortress_map {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 100px;
        border-top-right-radius: 100px;
        position: absolute;
        height: 40px;
        width: 40px;
        right: 50px;
        top: 50px;
        transition: 
            height 0.7s 0.15s ease-in-out, width 0.7s 0.15s ease-in-out,
            border-radius 0.85s ease-in-out,
            border-top-right-radius 0.3s 0.7s;

    
        div.military-fortress_map_toggle-icon {
            height: 40px;
            width: 40px;
            position: absolute;
            top: 0px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            fa {
                color: $black;
            }
        }

        div.military-fortress_content {
            transform: scale(.8);
            opacity: 0;
            transition: 
                opacity 0.5s 0.2s ease-in-out,
                transform 0.7s ease-in-out;
            width: 100%;
            height: 100%;
            padding: 20px;

            svg {
                height: 100%;
                width: 100%;

                .strokeaccent {
                    stroke:#ff7272;
                    stroke-miterlimit:10;
                    stroke-width:5px;
                }
            
                .fillaccent {
                    fill:#ff7272;
                }
                                
                .fillnone {
                    fill: white;
                }
            }
        }

        &.extended {
            height: 400px;
            width: 300px;
            border-radius: 15px;
            border-top-right-radius: 15px;
            padding: 10px;
            transition: 
                border-radius 0.85s 0.0s ease-in-out,
                border-top-right-radius 0.3s,
                height 0.7s 0.05s ease-in-out, width 0.7s 0.05s ease-in-out;
    
            div.military-fortress_content {
                transform: scale(1);
                opacity: 1;
                transition:         
                    opacity 0.5s 0s ease-in-out,
                    transform 0.7s 0.15s ease-in-out;
            }
        }
    }
}
