:host {
  display: grid;
  grid-template-columns: 300px auto;padding: 50px;
  height: 100vh;
  overflow: hidden;

  .navigation {
    nav.main {
      line-height: 2;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);

      nav {
        padding-left: 30px;
      }

      a {
        display: block;
        
        &.active {
          font-weight: bold;
        }
      }
    }
  }
  .content {
    overflow-y: auto;
  }
}
