<nav id="navbar-example3" class="navbar navbar-light bg-light">
  <nav class="nav nav-pills flex-column">
    <a class="nav-link" href="#about">Über uns und unser Projekt</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ml-3 my-1" href="#idpa">IDPA</a>
      <a class="nav-link ml-3 my-1" href="#bbbden">BBBaden</a>
      <a class="nav-link ml-3 my-1" href="#group">Gruppe</a>
    </nav>
    <a class="nav-link" href="#thank">Dank</a>
    <a class="nav-link" href="#append">Anhang</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ml-3 my-1" href="#impress">Impressum</a>
      <a class="nav-link ml-3 my-1" href="#sauce">Quellen</a>
    </nav>
  </nav>
</nav>

<div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
  <h4 id="about">Über uns</h4>
  <h5 id="idpa">IDPA</h5>
  <p>Was ist eine IDPA?</p>
  <h5 id="bbbaden">BBBadem</h5>
  <p>Unsere Schule</p>
  <h5 id="group">Grupe</h5>
  <p>Wer sind wir?</p>
  <h4 id="thank">Dank</h4>
  <p>Danke a mis Mami.</p>
  <h4 id="append">Anhang</h4>
  <h5 id="impress">Impressum</h5>
  <p>Impressum Text</p>
  <h5 id="sauce">Quellen</h5>
  <p>Was woher. Wikipedia</p>
</div>
