.person-detail_outer {
  padding: 200px;
  height: 100vh;
  width: 100vw;
  display: flex; 
  flex-flow: column;
}

.linkbtn {
  padding-bottom: 20px;
}

.person-detail_wrapper {
  overflow: hidden;
  display: flex; 
}

.person-detail_image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.person-detail_text {
  width: 50%;
  margin-left: 50px;
  background-color: white;
  overflow-y: auto;
}

.person-detail-picture_wrapper{
  margin-right: 50px;
  width: 50%;
  overflow: hidden;
  display: flex; 
  flex-flow: column
}
