<div class="person-overview_wrapper">
  <div class="person-overview_slides">
    <div
      *ngFor="let person of persons"
      class="person-overview_slide">
      <div class="person-image-wrapper">
        <div class="person-image"
          [ngStyle]="{ backgroundImage: 'url(assets/person/' + person.imagePath + ')' }">
        </div>
      </div>
      <div class="person-fact-sheet">
        <h1>{{ person.personName }}</h1>
        <ul>
          <li *ngFor="let fact of person.facts">{{ fact }}</li>
        </ul>
      </div>
      <div class="person-button">
        <a  [routerLink]="'/person/' + person.link" class="btn">Mehr erfahren</a>
      </div>
    </div>
  </div>
</div>
