<div class="container" style="margin-top: 100px;">

  <div class="row">
    <div class="col-12 mb-5">
      <h2>Es ist 1940</h2>
      <hr>
      <p>
        Man stelle sich vor es ist 1940. Die deutschen Flieger fliegen gefährlich nah an der Schweiz,
        die Franzosen machen langsam schlapp und die Schweiz rüstet die Bergen mit Bunkern aus.
      </p>
      <p>
        Auf dieser Seite erhält man einen Einblick in die Personen, Stellungen und Bunker der damaligen Zeit.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Wer sind wir?</h4>
          <p class="card-text">
            Lüütlis us de BBB.
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">IDPA 2018</h4>
          <p class="card-text">
            Zu unserer Webseite.
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/300x200" alt="">
        <div class="card-body">
          <h4 class="card-title">Unsern Dank</h4>
          <p class="card-text">
            Danke a mis Mami.
          </p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div>

</div>
