<div class="container" style="margin-top: 100px;">

  <div class="row text">
      <h2>Wir schreiben das Jahr 1940</h2>
      <hr>
      <p>
        Der Zweite Weltkrieg hat gerade erst begonnen und so beginnt sich auch der Schrecken des Krieges in jede Ecke
        zu erstrecken.
        Der Schaden, der in den nächsten 5 Jahren angerichtet wird, ist noch nicht vorstellbar.
        Scheinbar liegt sich die ganze Welt in den Haaren.
      </p>
      <p>
        Inmitten dieser kämpfenden Grossmächte Europas sitzt die kleine Schweiz.
        Sie hätte sich einmischen oder ergeben können, anstelle fing sie aber an, ihre
        Berge mit Bunkern auszurüsten, wohl um den Deutschen, im Falle einer Invasion,
        das Leben wenigstens noch erschweren zu können.
      </p>
      <p>
        Als Teil unserer IDPA an der BBBaden von 2019 erarbeiteten wir mittels Operationsbefehlen, Internet und Besuchen 
        eine Webseite über die Personen, Strategien und Bunker des Zweiten Weltkrieges aus Schweizer Sicht.
      </p>
  </div>

  <div class="row cardparent">
    <div class="card">
      <img class="card-img-top" src="/assets/person/guisan_landingpage.jpg" alt="">
      <div class="card-body">
        <h3 class="card-title">Wieso gab es diese Bunker?</h3>
        <p class="card-text">
          Die Schweiz war im Zweiten Weltkrieg in der glücklichen Lage, von keinem feindlichen Land eingenommen worden zu
          sein, jedoch war die Angst vor einem Angriff konstant vorhanden und rief mit der Zeit nach
          baulichen Vorkehrungen, um sich vor dem Gegner schützen zu können, auf.
          So gab Henri Guisan zum Start des Zweiten Weltkrieges die ersten Befehle, Bunker in der Schweiz zu
          errichten, von denen aus das
          Militär die Feinde so lange wie möglich zurückhalten könnte.
        </p>
        <div class="card-footer">
          <a routerLink="/personen" class="btn">Wer war Henri Guisan?</a>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/map/fortresses-map-screenshot.png" alt="">
      <div class="card-body">
        <h3 class="card-title">Wo gab es diese Bunker?</h3>
        <p class="card-text">
          Die meisten Bunker waren in die Berge konzentriert, die erhöhte Lage bot einen strategischen Vorteil. 
          Es wurden Linien entlang der Grenzen zu Italien, Frankreich, Deutschland und Österreich gebildet. 
          Dutzende Bunker, exquisit in dem Gesteine der Felsen verstecke, waren entlang dieser Linien verteilt, 
          einzig erkennbar durch kaum entdeckbare und gut getarnte Löcher im Felsen, aus denen gesehen und geschossen wurde.
        </p>
        <div class="card-footer">
          <a routerLink="/karte/festungen" class="btn">Zur Karte der Bunker</a>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/fortress/Fotos_Vitznau_065.jpg" alt="">
      <div class="card-body">
        <h3 class="card-title">Wie steht es heute um die Bunker?</h3>
        <p class="card-text">
          Nach dem Ende des Zweiten Weltkrieges wurden einige Bunker stillgelegt, andere wurden zu Museen, Hotels
          oder ähnlichem umgerüstet.
          Mit unserer IDPA Gruppe besuchten wir eine dieser Bunker-Museen, die Festung Vitznau im Kanton Luzern.
          Unsere Eindrücke und Bilder dieses Besuches präsentieren wir ebenfalls auf dieser Seite.
        </p>
        <div class="card-footer">
          <a routerLink="/festung-vitznau" class="btn">Mehr über Vitznau</a>
        </div>
      </div>
    </div>
  </div>

</div>
